<table>
  
    <th>
      <td>Student</td>
      <td>Assignment</td>
      <td>Score</td>
      <td>Total</td>
      <td>Percentage</td>
    </th>
  
  <% @assignments.each do |assignment| %>
    <tr>
      <td><%= assignment.student.name %></td>
      <td><%= assignment.name %></td>
      <td><%= assignment.score %></td>
      <td><%= assignment.total %></td>
      <td><%= assignment.percentage %>%</td>
    </tr>
  <% end %>

</table>