<table>
  <tr>  
    
  </tr>
    <td><%= link_to 'Add Another Student', new_student_path %><td>
    <% @student.each do |student| %>
  <tr>
    <th colspan="3">
      <%= gravatar_image_tag( student.email ) %>
    </th>
  <tr>
    <th>First Name</th>
    <td><%= student.first_name %></td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td><%= student.last_name %></td>
  </tr>
  <tr>
    <th>Nick Name</th>
    <td><%= student.nick_name %></td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td><%= student.email %></td>
  </tr>

  <tr>
    <td>
      <% if current_user && current_user.id  == student.id %>
      <%= link_to 'Edit Profile', edit_student_path(student) %>
    </td>
    <td>
      <%= link_to 'Delete Profile', students_path(student), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
    <% end %>
  </tr>
  <tr>

  </tr>
  <% end %>
</table>